.footer-text a {
    color: grey !important;
}

.list-index{
    list-style: none;
}

.list-index li a{
    font-size: 16px;
    color: black;
}

.list-index li a:hover{
    
}

.list-index li a span{
    font-size: 24px;
    color: coral;
}
body{
    background-image: url('../images/img1.jpg');
}
.card-img{
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 30px ;
    box-shadow: 10px 10px 10px black;
}